.Button {
  margin: 2rem 0.5rem 0.5rem 1rem;
  padding: 0.2rem 0.6rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: var(--light-gray-color);
}

.Button .active {
  background-color: transparent;
}

.Icon {
  font-size: 1rem;
  margin-right: 0.3rem;
}

.Text {
  font-size: 1rem;
  font-weight: 700;
  color: var(--dark-gray-color);
}
