.DashedLine {
  margin: 0 auto;
  border: none;
  border-top: 3px dashed var(--medium-gray-color);
  color: var(--white-color);
  background-color: var(--white-color);
  align-items: center;
  height: 1px;
  width: 80%;
}
