main {
  /* ... */
}

@font-face {
  font-family: "MonumentExtended";
  src: url("/src/assets/fonts/MonumentExtended-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova-Bold";
  src: url("/src/assets/fonts/proximanova-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

.confidential {
  font-size: 1rem;
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 1rem;
  opacity: 0.5;
}

.star {
  font-size: 1rem;
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 10rem;
}
